* {
  color: #333333;
}

.photos {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#man,
#women {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 0.5px solid #a0a0a0;
  border-radius: 50%;
  margin: 0 auto;
}

@keyframes up-down {
  from {
    transform: translateY(opx);
  }
  to {
    transform: translateY(-20px);
  }
}

#heart {
  width: 50px;
  height: 50px;
  animation: up-down 0.5s infinite ease-in-out alternate;
}

.special-day {
  display: flex;
  justify-content: space-between;
}

.title,
.days-left,
.date,
.container h3 {
  font-weight: 600;
}

.days-left,
.date {
  text-align: right;
}

.title,
.date {
  margin-bottom: 0;
}

.title {
  display: flex;
  align-items: center;
}

.date {
  color: #a0a0a0;
}
